<div class="container">
  <h1>
    {{title}} | {{counterValue}}
  </h1>

  <app-counter [value]="counterValue" (change)="counterChange($event)"></app-counter>

  <app-todo-list></app-todo-list>
</div>
