<h1>TodoList</h1>

<form class="add-task" (ngSubmit)="submit()">
  <input class="add-task__input" placeholder="Имя задачи" [(ngModel)]="label" name="label" >
</form>

<app-filters [currentFilter]="currentFilter" (change)="setCurrentFilter($event)"></app-filters>

<ul class="list">
  <li
    *ngFor="let todo of todos"
    class="list__item"
  >
    <app-todo-item *ngIf="checkTodo(todo)" [todo]="todo" (change)="changeTodoStatus($event)"
                   (delete)="deleteTodo($event)"></app-todo-item>
  </li>
</ul>

<app-statistic [todos]="todos"></app-statistic>

{{todos | json}}
