<div class="task"
     [class.task_todo]="!isDone()"
     [class.task_done]="isDone()">
  <div
    class="task__status"
    [class.task__status_todo]="!done"
    [class.task__status_done]="done"
    (click)="changeStatus()"
  ></div>
  <span class="task__name">{{todo?.time | date:'shortTime'}} {{todo.name}}</span>
  <div class="task__delete-button" (click)="deleteTodo()">&#x274C;</div>
</div>
