.list {
  margin: 10px 0 0;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  list-style-type: none;
  padding: 0;

}

.list__item {
  display: block;
}

.list__item:hover{
  background-color: lightyellow;
}

.error {
  border: 2px solid;
  padding: 20px 40px;
  margin: 20px 0;
  font-size: 24px;
  color: #d00;
  text-align: center;
}

.add-task {
  padding: 10px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.add-task__input {
  font-size: 14px;
  border: none;
  width: 100%;
}

.add-task__input:focus {
  outline: none;
}
