/* You can add global styles to this file, and also import other style files */

.container {
  max-width: 440px;
  margin: 50px auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
